.footer {
    background: red;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 38%;
}